<div class="text-center">
  <h1>Matching game</h1>
  <div class="space"><h4 class="alert"></h4></div>
  <h3 class="punctuation"></h3>
</div>


<!-- Game interfase -->
<div class="container center">
  <div class="game">
    <div class="row">
      <div class="btn btn-default col-sm-2 cards"><p class="text-center"></p></div>
      <div class="btn btn-default col-sm-2 cards"><p class="text-center"></p></div>
      <div class="btn btn-default col-sm-2 cards"><p class="text-center"></p></div>
      <div class="btn btn-default col-sm-2 cards"><p class="text-center"></p></div>
    </div>

    <div class="row">
      <div class="btn btn-default col-sm-2 cards"><p class="text-center"></p></div>
      <div class="btn btn-default col-sm-2 cards"><p class="text-center"></p></div>
      <div class="btn btn-default col-sm-2 cards"><p class="text-center"></p></div>
      <div class="btn btn-default col-sm-2 cards"><p class="text-center"></p></div>
    </div>

    <div class="row">
      <div class="btn btn-default col-sm-2 cards"><p class="text-center"></p></div>
      <div class="btn btn-default col-sm-2 cards"><p class="text-center"></p></div>
      <div class="btn btn-default col-sm-2 cards"><p class="text-center"></p></div>
      <div class="btn btn-default col-sm-2 cards"><p class="text-center"></p></div>
    </div>

    <div class="row">
      <div class="btn btn-default col-sm-2 cards"><p class="text-center"></p></div>
      <div class="btn btn-default col-sm-2 cards"><p class="text-center"></p></div>
      <div class="btn btn-default col-sm-2 cards"><p class="text-center"></p></div>
      <div class="btn btn-default col-sm-2 cards"><p class="text-center"></p></div>
    </div>
  </div>
  <div class="col-sm-12 new-game btn btn-default text-center">New Game</div>
</div>
